# Prerequisites
*.d
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.so
*.dylib

# CMake build artifacts
/build/
/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# VS Code
.vscode/

# vcpkg (if using manifest mode later)
vcpkg_installed/

# OS
.DS_Store
Thumbs.db

# test related
test.avi
*.csv